main {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.main-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: grey;
    position: fixed;
}

#menu-image {
    width: 50px;
}

.header-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#perfil-image {
    width: 50px;
}

.show {
    display: flex;
    position: fixed;
    top: 56.5px;
    width: 100vw;
    background-color: grey;
    flex-direction: column;
    align-items: center;
}

.navbar-element {
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.hidde {
    display: none;
}

#about-image {
    width: 175px;
}

#about-text {
    width: 75%;
    padding: 10px;
    text-align: center;
}

#footer-text {
    margin-top: auto;
    margin-bottom: 0%;
    margin-right: 20px;
}