.main-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

#menu-image {
    width: 50px;
}

.header-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#perfil-image {
    width: 50px;
}

#navbar-menu {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 10px;
    align-items: center;
}

.navbar-element {
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.hidde {
    visibility: hidden;
}