main {
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.main-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: grey;
    position: fixed;
}

#menu-image {
    width: 50px;
}

.header-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

#perfil-image {
    width: 50px;
}

.show {
    display: flex;
    position: fixed;
    top: 56.5px;
    width: 100vw;
    background-color: grey;
    flex-direction: column;
    align-items: center;
}

.navbar-element {
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.hidde {
    display: none;
}

.div-all-content {
    margin: 10px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}

.image-content {
    width: 100px;
    margin-right: 10px;
}

.title-text-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitle-text-content {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#footer-text {
    margin-top: auto;
    margin-bottom: 0%;
    margin-right: 20px;
}