.div-main {
	padding-top: 35vh;
}

#title-register {
	margin-top: 10px;
	margin-bottom: 10px;
}

#navbar-register {
	margin-bottom: 10px;
}

#form-register {
	display: flex;
	flex-direction: column;
	border: 5px solid black;
	border-radius: 10px;
	padding: 5%;
}

.form-register-element {
	margin-top: 5px;
}

#button-register {
	width: 100%;
    margin-bottom: 5px;
}

#username, #e-mail, #password {
	width: 70%;
}
