.div-main{
    padding-top: 35vh;
}

#navbar-template {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-button {
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    width: 25vw;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}